h1{
    text-align: center;
}

body{
    background-color: cornsilk;
}

h2{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#93D4A5;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:gainsboro;
}

.loginbutton{
    
    padding: 16px;
}
.login{
    text-align: center;
}

form{
    border: 3px solid cornsilk;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #93D4A5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0; 
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: darkred;
}

.signupbtn{
    width: auto;
    padding: 10px 18px;
    background-color: darkred;
}

span.psw{
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px){
    span.psw{
        display: block;
        float: none;
    }

    .cancelbtn{
        width: 100%;
    }
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}

hr{
    border: 1px solid cornsilk;
    margin-bottom: 25px;
}

.gag{
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    
}

.nicki{
    width: 900px;
    border: 15px solid #93D4A5;
    padding: 20px; 
    margin: auto;
    text-align: center;
}

.intro{
    width: 500px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

/*.creatorlink{
    text-decoration: none;
    color: white;
}*/